<h1><strong>Welcome to EasyEatz</strong></h1>

<h3><strong>About us</strong></h3>
<p>EasyEatz was founded by Leeroy Jenkins in 1982. He discovered his passion for distributing food one day while playing WoW and epically wiping the raid on Upper Blackrock Spire.
After he wiped his group and was assaulted by their snide remarks and tears he responded with his favorite quote "At least I got chicken". Leeroy realized then, that if everyone had access
to chicken and other fatty foods, they'd be in a much better mood. Thus began Leeroy's dream of providing deliverable fast food to the masses.</p><br><br>


<p>Contact Info</p>
<p>Leeroy Jenkins-Just pm me on Blizzard newbs</p>

<br><br>
 

<%= link_to('Log in with Facebook!', '/auth/facebook') %>