<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<%= link_to "Add Condiments to Order", new_order_condiment_path(current_order) %>    <%= link_to "View Condiments", "/orders/#{current_order.id}/condiments" %>
<br><br>



<%=  "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal})"  %>

